body{
    font-family: 'Raleway', sans-serif;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: 5%;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* start header */
.header{
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom: 3px solid #330000;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 80px;
}

.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
    
}
.header .links .icon span{
    background-color: #330000;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:nth-child(1){
    width: 100%;
}
.header .links .icon span:nth-child(2){
    transition: 0.5s;
    width: 70%;
}
.header .links .icon span:nth-child(3){
    width: 100%;
}

.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #C7313A transparent;
    position: absolute;
    right: 1px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a{
    display: block;
    padding: 6px;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}
.header .links ul li a:hover{
    padding-left: 25px;
    color: #330000;
}
.header .links ul li:not(:last-child){
    border-bottom: #363232 solid 1px;
}